*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(239,247,207);
    font-display:swap;
    
}
@keyframes name{
0% {color:rgb(239,247,207);}
50%{color:#4CB572;}
100% {color:rgb(239,247,207);}
}
#name{
    text-align: center;
animation-name: name;
animation-duration: 3s;
animation-iteration-count: infinite;
    font-display:swap;
}
#img{
   max-width:50%;
}
#navbarNav{
    padding-left: 10px;
    background-color: #4CB572;
    
}
#navHome{
    padding-left: 10px;
    background-color: #135E4B;
   
}
#submit{
    background-color: white;
}
#info{
    background-color:#135E4B;
}
#body{
    background-color: black;
}
#address{
    background-color: white;
    color:#135E4B;
}
#icon{
    color: rgb(239,247,207);
    font-display:swap;
}

#navWords{
    color:white;
    font-display:swap;
}
#littleGuy{
    background-color: white;
}
#icon2{
    color:#135E4B;
    background-color: white;
    font-display:swap;
}
.col-md-6{
    border:rgb(239,247,207);
    text-align: center;
    margin: auto;
}
href{
    margin-bottom: 10px;
}
p{
   text-align: center; 
}
